DB_CONFIG = {
    "user":"seu_usuario",
    "password":"sua_senha",
    "host":"seu_host",
    "port":seu_port,
    "database":"seu_banco"
}

TELEGRAM_TOKEN = "token_telegram"
TELEGRAM_CHAT_ID = "id_telegram"