import os

# Tenta ler do ambiente (GitHub/Docker) ou usa o padrão local
DB_CONFIG = {
    "user": os.getenv("DB_USER", "seu_usuario_local"),
    "password": os.getenv("DB_PASSWORD", "sua_senha_local"),
    "host": os.getenv("DB_HOST", "seu_host_nuvem"),
    "port": int(os.getenv("DB_PORT", 3306)),
    "database": os.getenv("DB_NAME", "dbDrogamais")
}

TELEGRAM_TOKEN = os.getenv("TELEGRAM_TOKEN", "seu_token_local")
TELEGRAM_CHAT_ID = os.getenv("TELEGRAM_CHAT_ID", "seu_id_local")